@page "/"
@using BlazorApp.Models;
@using BlazorApp.Models.Interfaces

@inject IOficinaRepository OficinaRepository

<h3>Lista de Oficinas</h3>

@if (oficinas != null && oficinas.Any())
{
    <ul>
        @foreach (var oficina in oficinas)
        {
            <li>
                <h4>Oficina ID: @oficina.Id, Nombre: @oficina.Nombre</h4>
                <p><strong>Puestos de atención:</strong></p>
                <ul>
                    @foreach (var puesto in oficina.PuestosDeAtencion)
                    {
                        <li>Puesto ID: @puesto.Id, Número: @puesto.Numero, EstaLibre: @puesto.EstaLibre, Operario Asignado: @puesto.IdOperarioAsignado</li>
                    }
                </ul>

                <p><strong>Operarios:</strong></p>
                <ul>
                    @foreach (var operario in oficina.Operarios)
                    {
                        <li>Operario ID: @operario.Id, Nombre: @operario.Nombre, Disponible: @operario.EstaDisponible</li>
                    }
                </ul>

                <p><strong>Clientes en espera:</strong></p>
                <ul>
                    @foreach (var cliente in oficina.ClientesEnEspera)
                    {
                        <li>Cliente Cédula: @cliente.Cedula, FechaRegistro: @cliente.FechaRegistro, Estado: @cliente.Estado</li>
                    }
                </ul>
            </li>
        }
    </ul>
}
else
{
    <p>No hay oficinas disponibles.</p>
}

@code {
    private List<Oficina> oficinas;

    protected override async Task OnInitializedAsync()
    {
        //oficinas = OficinaRepository.ObtenerTodasLasOficinasAsync();
    }
}

