@page "/infoOficinas"
@using BlazorApp.Models
@using BlazorApp.Models.Interfaces
@inject IOficinaRepository OficinaRepository

<h3>Lista de Oficinas</h3>

<RadzenDataGrid AllowFiltering="true" AllowSorting="true" PageSize="5" AllowPaging="true" Data="@oficinas" ColumnWidth="300px">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(Oficina.Id)" Title="Oficina ID" Width="80px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn Property="@nameof(Oficina.Nombre)" Title="Nombre" Width="95px" />

        <RadzenDataGridColumn Title="Puestos de Atención" Width="195px">
            <Template Context="data">
                <ul>
                    @foreach (var puesto in data.PuestosDeAtencion)
                    {
                        <li>Puesto ID: @puesto.Id, Número: @puesto.Numero, Esta Libre: @puesto.EstaLibre</li>
                    }
                </ul>
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Title="Operarios" Width="240px">
            <Template Context="data">
                <ul>
                    @foreach (var operario in data.Operarios)
                    {
                        <li>Operario ID: @operario.Id, Nombre: @operario.Nombre, Disponible: @operario.EstaDisponible</li>
                    }
                </ul>
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Title="Clientes" Width="300px">
            <Template Context="data">
                <ul>
                    @foreach (var cliente in data.ClientesEnEspera)
                    {
                        <li>Cliente Cédula: @cliente.Cedula, Fecha Registro: @cliente.FechaRegistro, Estado: @cliente.Estado</li>
                    }
                </ul>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    private List<Oficina> oficinas;

    protected override void  OnInitialized()
    {
        oficinas =  OficinaRepository.ObtenerTodasLasOficinas();
    }
}
