@page "/registroCliente/{oficinaId:int}"
@rendermode InteractiveServer
@using BlazorApp.Models
@using BlazorApp.Models.DTs
@using BlazorApp.Models.Interfaces
@using Microsoft.AspNetCore.SignalR;
@inject NavigationManager NavigationManager
@inject IClienteRepository ClienteRepository
@inject IOficinaRepository OficinaRepository
@inject IHubContext<BlazorApp.Hubs.NotificacionesHub> HubContext;

<h3>Registro de Cliente en Oficina: @nombreOficina</h3>

@if (oficina == null)
{
    <p><em>Cargando datos de la oficina...</em></p>
}
else
{
    <RadzenTextBox @bind-Value="cedula" Placeholder="Ingrese su cédula" Style="width: 20%;" />
    <RadzenButton Text="Registrar" Click="@RegistrarCliente" Disabled="@(string.IsNullOrEmpty(cedula))" />

    <!-- Alerta de registro -->
    @if (alertVisible)
    {
        <RadzenAlert AlertStyle="@(isError ? AlertStyle.Danger : AlertStyle.Success)"
                     Variant="Variant.Flat"
                     Shade="Shade.Lighter"
                     Title="@(isError ? "Error" : "Éxito")"
                     Visible="true"
                     AllowClose="false">
            @alertMessage
        </RadzenAlert>
    }
}

@code {
    [Parameter] public int oficinaId { get; set; }  // Oficina ID se recibe como parámetro de la ruta
    private string nombreOficina;
    private DTOficina oficina;
    private string cedula;
    private string alertMessage;
    private bool isError;
    private bool alertVisible;

    protected override async Task OnInitializedAsync()
    {
        await CargarDatosDeOficina();
    }

    private async Task CargarDatosDeOficina()
    {
        if (oficinaId > 0)
        {
            // Cargar la oficina seleccionada usando la oficinaId de la URL
            oficina = OficinaRepository.ObtenerOficinaPorIdDTO(oficinaId);
            if (oficina != null)
            {
                nombreOficina = oficina.Nombre;
            }
            else
            {
                alertMessage = "Oficina no encontrada.";
                isError = true;
                alertVisible = true;
            }
        }
    }

    private async void RegistrarCliente()
    {
        try
        {
            var nuevoCliente = new DTCliente
                {
                    Cedula = cedula,
                    Estado = EstadoCliente.Esperando,
                    FechaRegistro = DateTime.Now
                };

            // Registrar el cliente en la oficina seleccionada
            Console.WriteLine("### /registroCliente/ ###");
            Console.WriteLine("### nuevoCliente CI: " + nuevoCliente.Cedula + "Oficina ID: " + oficinaId + "###");
            OficinaRepository.RegistrarClienteEnOficina(oficinaId, nuevoCliente);
            alertMessage = $"Cliente registrado exitosamente en la oficina {nombreOficina}.";
            isError = false;
            cedula = string.Empty;
            await MostrarAlertaTemporal();

            await HubContext.Clients.All.SendAsync("RefrescarPagina", 0);
        }
        catch (Exception ex)
        {
            alertMessage = ex.Message;
            isError = true;
            await MostrarAlertaTemporal();
        }
    }

    private async Task MostrarAlertaTemporal()
    {
        alertVisible = true;
        StateHasChanged();
        await Task.Delay(6000);
        alertVisible = false;
        StateHasChanged();
    }
}